.back{
    color: lightslategray;
    background-color: white;
    align-content: center;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0,7),rgb(4,9,30,0,7)),url(images/image6.jpg);
    background-position: center;
    background-size: cover
    
}
